<div class="container-fluid">
  <!-- div class="jumbotron" -->
    <div class="alt-table-responsive">
      <div layout-gt-sm="row">
        <h3 class="md-headline">Example</h3>
        <h3 class="md-caption" style="color:red"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment}}</h3>
      </div>

      <div layout-gt-sm="row">
        <md-input-container>
          <label>User Name</label>
          <input ng-model="username">
        </md-input-container>
        <md-input-container>
          <label>Org Name</label>
          <input ng-model="orgname">
        </md-input-container>
        <md-input-container>
          <label>Chaincode Name</label>
          <input ng-model="chaincodeName">
        </md-input-container>
      </div>

      <div layout-sm="row">
        <label>Invoke:</label>
        <md-input-container>
          <label>Owner (From)</label>
          <input ng-model="fromOwner">
        </md-input-container>
        <md-input-container>
          <label>Owner (To)</label>
          <input ng-model="toOwner">
        </md-input-container>
        <md-input-container>
          <label>Quantity</label>
          <input ng-model="moveQuantity">
        </md-input-container>
      </div>

      <div layout-sm="row">
        <label>Query:</label>
        <md-input-container>
          <label>Owner</label>
          <input ng-model="owner">
        </md-input-container>
      </div>

      <div>
        <md-button class="md-raised md-primary" ng-click="invoke(fromOwner, toOwner, moveQuantity)">Invoke</md-button>
        <md-button class="md-raised md-primary" ng-click="query(owner)">Query</md-button>
      </div>

      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{owner}}</td>
            <td>{{quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- /div -->
</div>
