<div class="container-fluid">
  <h3 class="md-headline">{{title}}</h3>
  <form class="form-inline">
      <label for="msgForm">{{label}}</label>
    <md-button class="md-raised md-primary" id="sendButton" ng-click="submit(selectedId)" ng-hide="isVoted">{{button}}</md-button>
  </form>

  You choose {{selectedId}}

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="col-md-1 col-sm-1 col-xs-1"></th>
        <th class="col-md-1 col-sm-1 col-xs-1">No</th>
        <th>Topic</th>
        <th class="col-md-1 col-sm-1 col-xs-1">Count</th>
      </tr>
    </thead>

    <tbody ng-repeat="candidate in candidates">
      <tr>
        <td><input type="radio" name="candidateGroup" ng-value="candidate.id" ng-model="$parent.selectedId">
        <td>{{candidate.id}}</id>
        <td>{{candidate.name}}</td>
        <td align="right">{{candidate.count}}</td>
      </tr>
    </tbody>
  </table>

  <canvas id="base" class="chart-horizontal-bar"
    chart-data="values" chart-labels="labels" chart-colors="colors" chart-options="options">
  </canvas>

</div>
